@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .menu-btn{
    @apply uppercase w-max px-10 py-1 bg-green-600 rounded-full border border-solid border-green-600 transition-all hover:bg-transparent
  }
  .answer-btn{
    @apply bg-transparent border border-solid text-white py-2 rounded-full cursor-pointer hover:border-green-500 hover:text-green-500
  }
}

html, body{
  background-color: #082032;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

